/* --------------------------------------------------

	styles.css
	
	Description: Specific styles for Request form
	Author: Jen Wachter / jwachter@umaryland.edu

-------------------------------------------------- */


.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
* html .clearfix { height:1%; } /* Hides from IE-mac \*/
.clearfix { display:block; }


/* styling the form
-------------------------------------------------- */

fieldset {
	border:0;
	margin-bottom:20px;
	padding:0;
}


legend	{
	font-weight:bold;
	border-bottom:1px solid #ddd;
	padding:15px 0 5px 0;
	color:#555;
	font-size:16px;
	display:block;
	width:100%;
}


legend + * {
	-webkit-margin-top-collapse:separate;
	margin-top:20px !important;
}


.form_field {
	padding-bottom:20px;
	clear:left;
}


label {
	display:block;
	margin-bottom:3px;
}

.checkbox_group,
.radio_group {
	float:left;
	margin-top:5px;
}

.checkbox_group .checkbox,
.radio_group .radio {
	margin-bottom:3px;
}



.form_field input,
.form_field select,
.form_field textarea {
	font-family: arial,verdana,sans-serif;
	font-size:13px;
	padding:8px;
	width:275px;
	border:1px solid #bbb;
	float:left;
}


.entry-content .form_field textarea {
	height:70px;
}


.form_field input[type=radio],
.form_field input[type=checkbox] {
	width:auto;
	padding:0;
	border:0;
	margin-right:3px;
}


.form_field.submit,
.form_field.button {
	padding-top:10px;
}


input[type=button],
input[type=submit] {
	width:auto !important;
	border:0;
	padding:5px;
}


input[type=button]:hover,
input[type=submit]:hover {
	cursor:pointer;
}

.radio_group,
.checkbox_group {
	margin-left:20px;
}

.radio input {
	float:none;
	
}

.radio {
	margin-right:15px;
	display:block;
}

.checkbox {
	float:none;
	display:block;
}




/* warnings/errors
-------------------------------------------------- */

p.warning {
	color:#e51937;
	font-weight:bold;
}

.radio label.error {
	display:block;
	margin:-20px 0 0 0;
	height:40px;
	color:#f00;
	font-weight:normal;
	font-style:italic;
	display:none;
	position:absolute;
	font-weight:bold;
}
