/* --------------------------------------------------

	styles.css
	
	Description: styles for documentation
	Author: Jen Wachter / jenleighkelly@gmail.com

-------------------------------------------------- */




/* reset default browser styles
-------------------------------------------------- */

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

fieldset,img {
	border:0;
}

address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}

ol,ul {
	list-style:none;
}

caption,th {
	text-align:left;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}

q:before,q:after {
	content:'';
}

abbr,acronym {
	border:0;
}





/* clearfix
-------------------------------------------------- */

.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}

.clearfix {
	display:inline-block;
}

* html .clearfix {
	height:1%;
}

.clearfix {
	display:block;
}

.clearme {
	clear:both;
	line-height:0;
	font-size:0;
	height:0;
}




/* general
-------------------------------------------------- */

body {
	background:#fff;
	font-family:arial,verdana,sans-serif;
	font-size:13px;
	line-height:140%;
	color:#555;
	padding:0 20%;
}

strong {
	font-weight:bold;
}

em {
	font-style:italic;
}

strong em,
em strong {
	font-weight:bold;
	font-style:italic;
}

p {
	line-height:145%;
	padding-bottom:15px;
	font-size:14px;
	color:#6f6f6f;
}

.section {
	padding-bottom:30px;
}

pre {
	margin-bottom:15px;
    font:12px/1.5 Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
    padding:10px;
	white-space:pre-wrap;       /* css-3 */
	white-space:-moz-pre-wrap;  /* Mozilla */
	white-space:-pre-wrap;      /* Opera 4-6 */
	white-space:-o-pre-wrap;    /* Opera 7 */
	word-wrap:break-word;       /* Internet Explorer 5.5+ */
}

code {
	background:#eee;
    font:12px/1.5 Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}



/* headings
-------------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:georgia,times,serif;
	line-height:120%;
	color:#2c2a29;
	padding:15px 0;
}

h3, h4, h4, h6 {
	color:#555;
	padding:5px 0;
}

h1 {
	font-size:28px;
}

h2 {
	font-size:22px;
}

h3 {
	font-size:17px;
}


h4 {
	font-size:15px;
	font-weight:bold;
}


h5 {
	font-weight:bold;
}


h6 {
	font-style:italic;
}




/* lists
-------------------------------------------------- */

ul, ol {
	padding:0 0 15px 40px;
}

ul ul,
ol ol,
ul ol,
ol ul {
	padding-bottom:0;
}

dl {
	padding-bottom:15px;
}

ul {
	list-style:outside disc none;
}

ol {
	list-style:outside decimal none;
}

li {
	padding-bottom:5px;
}

dt {
	font-weight:bold;
	padding:15px 0 5px 0;
}

dt:first-child {
	padding:0;
}

dd.small {
	margin-left:40px;
	font-size:80%;
	color:#555;
}




/* tables
-------------------------------------------------- */

table {
	margin:0 0 15px 0;
	width:100%;
}

th {
	color:#333;
	font-size:12px;
	text-transform:uppercase;
	padding:10px;
	border-bottom:1px solid #777;
	font-weight:bold;
}

td {
	border-bottom:1px solid #ccc;
	padding:10px;
	line-height:145%;
	font-size:13px;
	color:#6f6f6f;
}




/* styling the form
-------------------------------------------------- */

fieldset {
	border:0;
	margin-bottom:20px;
	padding:0;
}


legend	{
	font-weight:bold;
	border-bottom:1px solid #ddd;
	padding:15px 0 5px 0;
	color:#555;
	font-size:16px;
	display:block;
	width:100%;
}


legend + * {
	-webkit-margin-top-collapse:separate;
	margin-top:20px !important;
}


.form_field {
	padding-bottom:20px;
	clear:left;
}


label {
	display:block;
	margin-bottom:3px;
}

.checkbox_group,
.radio_group {
	float:left;
	margin-top:5px;
}

.checkbox_group .checkbox,
.radio_group .radio {
	margin-bottom:3px;
}

input,
select,
textarea {
	font-family:arial,verdana,sans-serif;
	font-size:13px;
	padding:8px;
	width:275px;
	border:1px solid #bbb;
	float:left;
}

textarea {
	height:70px;
}

input[type=radio],
input[type=checkbox] {
	width:auto;
	padding:0;
	border:0;
	margin-right:3px;
}

.form_field.submit,
.form_field.button {
	padding-top:10px;
}


input[type=button],
input[type=submit] {
	width:auto !important;
	border:0;
	padding:5px;
}

input[type=button]:hover,
input[type=submit]:hover {
	cursor:pointer;
}

.radio_group,
.checkbox_group {
	margin-left:20px;
}

.radio input {
	float:none;
	
}

.radio {
	margin-right:15px;
	display:block;
}

.checkbox {
	float:none;
	display:block;
}




/* alerts, warnings, errors, etc...
-------------------------------------------------- */

.alert {
	padding:20px;
	margin-bottom:18px;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5);
	background-color:#fcf8e3;
	border:1px solid #fbeed5;
	-webkit-border-radius:4px;
	-moz-border-radius:4px;
	border-radius:4px;
	color:#c09853;
}

.alert p {
	padding:0;
	margin:0;
}

.alert ul {
	padding-bottom:0;
}

.alert .alert-heading {
	font-size:15px;
	font-weight:bold;
	margin-bottom:10px;
}

.alert-heading {
	color:inherit;
}

.alert-success {
	background-color:#dff0d8;
	border-color:#d6e9c6;
	color:#468847;
}

.alert-danger,
.alert-error {
	background-color:#f2dede;
	border-color:#eed3d7;
	color:#b94a48;
}

.alert-info {
	background-color:#d9edf7;
	border-color:#bce8f1;
	color:#3a87ad;
}
